body {
    margin: 110;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    color: rgb(29, 28, 28);
    background-color: rgb(255 255 255);
}

table {
    
    padding-left: 1%;
    padding-right: 1%;;
    max-width: 80vw;
    max-height: 90vh;

}

td {
    
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 800px) {
    #list {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    table{
        max-width: 90vw;
        max-height: 90vh;
    }
}



.inline {
    display: inline;
}

.block {
    display: block;
}


.ctrl {
    width: 95%;
    /* height: 20px; */
    padding: 10px;
    margin: 0px;
    margin-right: 0px;
    font-size: 25px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
    background-color: rgba(255, 255, 255, 0.771);
    color: rgb(0, 0, 0);
    border-radius: 0px;
}







.hide {
    display: none;
    visibility: collapse;
}


/* --- kjkjnjk p--*/


.joker1 {
    border-radius: 5px;
    border: 0px solid greenyellow;
    font-size: 30;
    padding: 3px;
    background: rgba(255, 255, 255, 0.00281);
    color: #fff;
}



.ttimer {
    background: rgba(255, 255, 255, 0.0181);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

/*-----*/
.closeButtonStyle
{
    color: transparent;
    border: 0px solid rgba(0, 0, 0, 0.338);
    border-radius: 50%;
    position:relative;
    translate: 0px -10px;
    width: 13px;
    font-size: 10px;
    box-shadow: -2px -2px 4px #88888888;
    background: radial-gradient(circle, rgba(0, 36, 0, 0) 0%, rgb(15, 121, 9) 35%, rgb(47, 255, 0) 100%);
}

.closeButtonStyle2 {

    margin: 0px;
    background-color:rgb(10, 116, 16);
    box-shadow: 2px 5px 8px #88888888;
    text-shadow: 2px 2px #000000;

    border: 1px solid rgba(0, 0, 0, 0.338);
    border-radius: 50%;
    color: rgba(72, 71, 71, 0.249);
    padding: 2px 4px 1px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
 
}

.closeButtonStyle:hover {
    font-weight: bolder;
    background-color: rgb(235, 0, 0);
    color: #fff;
    background: radial-gradient(circle, rgba(0, 36, 0, 0) 0%, rgb(121, 9, 9) 35%, rgb(255, 0, 0) 100%);

}
.dtnow {/* text-shadow: 0px -0px 1px #00000069; */font-size: 10px;font-weight: bold;border: 5px solid rgba(0, 0, 0, 0);border-radius: 5px;color: #0000004f;/* translate: 40px -46px; */}

.task{
    border: 1px solid rgba(115, 115, 115, 0.0196);
    padding: 1px;
    box-shadow: -15px -5px 10px 0px #88888888, 0px -20px 0px 0px rgb(0 0 0 / 4%) inset;
    text-align: center;
    margin: 10px;
    position: relative;
    transform-origin:50% 0%;
    max-width: 300px;
    display: inline-block;
}


.task:hover, .note:hover {
    /* border: 1px solid rgba(0, 0, 0, 0.2451); */
    background-color: rgb(252, 255, 215);
    box-shadow: -15px -5px 10px #88888888;
}



.task { transform:rotate(5deg);  }
.task:nth-child(2n) { transform:rotate(-2deg); }
.task:nth-child(3n) { transform:rotate(2deg); }
.task:nth-child(4n) { transform:rotate(-4deg); }
.task:nth-child(6n) {transform:rotate(4deg);/* background-color: azure; */}
.task:nth-child(5n) { transform:rotate(-5deg); }

.task:hover,.task:nth-child(2n):hover,.task:nth-child(3n):hover,.task:nth-child(4n):hover,.task:nth-child(5n):hover{
  transform:rotate(0deg);
  border:1px solid #00000000;
  transition: 250ms linear all;
}





.entry {
    color: rgb(24, 24, 24);
    
    
    text-align: justify;
    border-radius: 0px;
    padding: 50px;

    /*border: 1px solid rgba(200,200,200,0.5);*/
    padding: 10px;
    /*box-shadow: 2px 5px 8px #88888888;*/

}


@keyframes pendulum {
    0% { -webkit-transform: rotate(-2deg); }
    50% { -webkit-transform: rotate(2deg); }
    100% { -webkit-transform: rotate(-2deg); }
  }

.toolbox{
   
    padding: 0px;
    border: 5px solid #00000000;
    margin: 0px;
    border-radius: 5px;
    color: #000;
}


.tbox1{
    width: 85vw;
    height: 6vw;
    border-top: 2px solid #e74c3c;
    border-bottom: 2px solid #e74c3c;
    border-left: 2px solid #e74c3c;
    border-right: 0px;
   margin-top: 10px;;
    margin-right: -4px;
    font-size: 1.25vw;
    resize: none;
    vertical-align:middle;
  }
  
  .butto1{
    width: 5vw;
    height: 7vw;
    vertical-align:middle;
    border-top: 2px solid #e74c3c;
    border-bottom: 2px solid #e74c3c;
    border-right: 2px solid #e74c3c;
    border-left: 0px solid #e74c3c;
    margin-top: 10px;;
    
    font-size: 2vw;
    font-weight: bolder;
    background-color: #e74d3c1a;
  }
  
  .button1:hover{
    background-color: #e74c3c;
  }

  .tr1{
    border: 0px;
  }


input[type='checkbox'] {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
}


/*sfsdfsdf*/
.task00::after{
    content: '';
    display: block;
    border-width: 10px 20px 20px 10px;
    border-style: solid;
    border-color: #d7d7d700 #fff;
    box-shadow: -5px 6px 10px rgb(129, 127, 127);
    position: absolute;
    /* top: 0; */
    right: 0;
}

#tasker{
  background-color:rgb(243 255 187 / 0%);
  margin:0 auto;
  width:95vw;
  border:10px solid #dddddd;
  box-shadow: 0px 0px 100px rgb(129 127 127 / 26%) inset;

}

#priority{
  background-color:rgb(255 255 255 / 69%);
  margin:0 auto;
  width:95vw;
  height:100px;
  border:10px solid #000000a8;
  box-shadow: -5px 6px 10px rgb(129, 127, 127);
}

/* box */
.note {
    position: relative;
    width: 60%;
    background: #ddd;
    border-radius: 4px;
    padding: 2em 1.5em;
    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 60px auto;
  
   max-width: 300px;
     border: 1px solid rgba(115, 115, 115, 0.0196);
    padding: 1px;
    box-shadow: 0px 0px 0px 0px #88888888, -20px -20px 30px 0px rgb(0 0 0 / 4%) inset;
    text-align: center;
    margin: 10px;
    position: relative;
    transform-origin:50% 0%;
    max-width: 300px;
    display: inline-block;
}

  .note::before,
  .note::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
  }

  .note::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
